@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Lato&family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--common-font);
}

:root {
    --common-padding: calc(0.2rem + 1vw);
    --common-margin: calc(0.5rem + 1vw);
    --title-font-size: calc(0.8rem + 1vw);
    --common-font-size: calc(1rem + 0.5vw);
    --title-font:'Orbitron', sans-serif;
    --common-font: 'Lato', sans-serif;
    --stylized-font: 'Electrolize', sans-serif;

    --darkest-color: #051725;
    --dark-blue: #0A2647;
    --neon-cyan: #00EAD3;
    --neon-yellow: #FFF5B7;
    --neon-magenta: #FF449F;
    --neon-blue: #005F99;
    --off-white: #F6F1F1;
    --dark-green: #2E4F4F;
    --dark-pink: #9E4784;

    --yellow-contrast: #FDBE34;
}

body {
    background-color: var(--darkest-color);
}

header {
    text-align: center;
    padding: var(--common-padding);
    font-size: var(--title-font-size);
    margin: var(--common-margin);
}

header h1 {
    background: linear-gradient(0.25turn,
        var(--neon-cyan),
        var(--neon-yellow),
        var(--neon-magenta),
        var(--neon-blue));
    color: transparent;
    background-clip: text; /*Mozilla clip*/
    -webkit-background-clip: text; /*Webkit clip*/
    text-shadow: 0 0 20px var(--neon-blue);
    font-family: var(--title-font);
}

main {
    padding-top: calc(var(--common-margin) * 2);
    display: flex;
    overflow-x: hidden;
}

div#slider {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 0 0 100%;
    
    width: 300vw;
    transition: all 0.3s ease-in-out;
}

/* sliding mechanism (start) */
section#mode-select {
    width: 100vw;
}

section#avatar-select {
    width: 100vw;
}

section#play-area {
    width: 100vw;
}

/* Game Mode Selected -- */

div#slider.mode-selected {
    transform: translateX(-100vw);
}


/* sliding mechanism (end) */


/* MODE SELECT (start) */
section#mode-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section#mode-select h3,
section#avatar-select h3 {
    font-family: var(--stylized-font);
    font-size: calc(var(--common-font-size) * 1.3);
    color: var(--neon-yellow);
    margin-bottom: calc(var(--common-margin) * 1.5);
}

button.mode {
    padding: var(--common-padding) calc(var(--common-padding) * 5);
    margin: var(--common-margin);
    font-size: var(--common-font-size);
    width: 60%;
    
    border: 1px solid var(--neon-cyan);
    font-weight: bold;
    color: var(--off-white);
    border-radius: 10px 0 10px 0;
    box-shadow: 0 0 5px 1px var(--neon-cyan);
    transition: all 0.2s ease-in-out;
    font-family: var(--stylized-font);
    background-color: var(--dark-green);
}

button.mode:hover {
    cursor: pointer;
    transform: translate(5px, -1px);
    box-shadow: -5px 2px 5px 1px var(--neon-cyan);
}

button.mode:active {
    transform: translate(-5px, 1px);
    box-shadow: 0 0 5px 1px var(--neon-cyan);
}


/* MODE SELECT (end) */


/* EDIT PLAYERS (start) */
section#avatar-select {
    /* width: 100%; */
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#avatar-select form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--common-margin) * 2);
    align-items: center;
}

div.players {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: center;
}

button.player-mark {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 60px;
    height: 60px;
    
    border-radius: 50%;
    background-color: var(--darkest-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: var(--common-margin);
    margin-left: 0;
}

button#p2-mark {
    grid-column: 2 / 3;
    margin: var(--common-margin);
}

button[data-flip='flip'] {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: all 0.3s ease;
}

button[data-flip='reverse'] {
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    transition: all 0.3s ease;
}


button[value='x'] {
    background-image: url(./images/x-mark.png);
    border: 1px solid var(--neon-magenta);
    box-shadow: 0 0 5px 1px var(--neon-magenta);
}

button[value='o'] {
    background-image: url(./images/o-mark.png);
    border: 1px solid var(--neon-cyan);
    box-shadow: 0 0 5px 1px var(--neon-cyan);
}

form#edit-player label, 
form#edit-player input {
    font-size: var(--common-font-size);
    padding: calc(var(--common-padding) * 0.5);
} 

form#edit-player label {
    color: var(--neon-yellow);
    align-self: end;
}

form#edit-player input {
    width: 100%; 
    border: 1px solid var(--neon-cyan);
    border-radius: 10px 0 10px 0;
    align-self: start;
    background-color: var(--dark-blue);
    color: var(--yellow-contrast);
    font-family: var(--stylized-font);
    padding-left: calc(var(--common-padding) * 2);
}

form#edit-player input::placeholder {
    font-family: var(--stylized-font);
}

button#start {
    font-size: calc(var(--common-font-size) * 1.3);
    font-family: var(--stylized-font);
    font-weight: bold;
    color: var(--off-white);
    width: 30%;
    min-width: max-content;
    padding: var(--common-padding);
    border: 1px solid var(--neon-cyan);
    border-radius: 10px 0 10px 0;
    background-color: var(--dark-green);
    box-shadow: 0 0 5px 1px var(--neon-cyan);
}
/* EDIT PLAYERS (end) */













/* PLAY AREA (start) */
section#play-area {
    /* border: 1px solid black; */
    display: grid; 
    grid-template-rows: repeat(3, max-content);

}

div.board-row {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin: auto;
}

button.play-cell {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button.play-cell:hover {
    cursor: pointer;
}

button.play-cell.x-marked {
    background-image: url(./images/x-mark.png);
}

button.play-cell.o-marked {
    background-image: url(./images/o-mark.png);
}

button.play-cell div.button-bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
}

div.button-bg.x-hovered {
    background-image: url(./images/x-mark.png);
}

div.button-bg.o-hovered {
    background-image: url(./images/o-mark.png);
}
/* PLAY AREA (end) */

